Backend/csharp/Entity\ e\ Identity/ProEvento/back/Application/obj/Debug/net9.0/
Backend/csharp/Entity\ e\ Identity/ProEvento/back/Domain/obj/Debug/net9.0/
Backend/csharp/Entity\ e\ Identity/ProEvento/back/Persistence/obj/Debug/net9.0/
Backend/csharp/Entity\ e\ Identity/ProEvento/back/API/obj/Debug/net9.0/
